﻿
@{
    ViewBag.Title = "Index";
}

<h2>Instituições Pendentes</h2>

<table>
    @foreach (var instituicao in Model)
    {
        if (@instituicao.Ativo == false)
        {
            <tr>
                <td>@instituicao.Razao</td>
                <td>@instituicao.Email</td>
                <td><a href="Instituicao\Visualizar\@instituicao.Id">Visualizar</a></td>
            </tr>
        }
    }

</table>