﻿
@{
    ViewBag.Title = "Visualizar";
}

<h2>Visualizar</h2>

<form method="post" action="/Instituicao/Ativar/@ViewBag.Instituicao.Id">
    <input type="hidden" name="Instituicao.Id" value="@ViewBag.Instituicao.Id" />

    <table>
        <tr>
            <td>Razao:</td>
            <td><input type="text" name="Instituicao.Razao" value="@ViewBag.Instituicao.Razao" /></td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td><input type="text" name="Instituicao.Email" value="@ViewBag.Instituicao.Email" /></td>
            "@ViewBag.Voluntario."
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Ativar" /></td>
        </tr>
    </table>
</form>


