﻿@{
    ViewBag.Title = "Home Page";
}

@model List<Ftec.com.Administracao.Models.Usuario>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </!--div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div-- class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <form action="/Home/ChamarUsuarioPost" method="post">
            <table>
                <tr>
                    <td><input type="submit" name="Usuario" value="Usuarios" /></td>
                </tr>
            </table>
        </form>

    </div>

    <div class="col-md-4">
        <form action="/Home/ChamarVoluntarioPost" method="post">
            <table>
                <tr>
                    <td><input type="submit" name="Voluntarios" value="Voluntários" /></td>
                </tr>
            </table>
        </form>
    </div>

    <div class="col-md-4">
        <form action="/Home/ChamarInstituicaoPost" method="post">
            <table>
                <tr>
                    <td><input type="submit" name="Instituicao" value="Instituições" /></td>
                </tr>
            </table>
        </form>
    </div>

    <div class="col-md-4">
        <form action="/Home/ChamarAcoesPost" method="post">
            <table>
                <tr>
                    <td><input type="submit" name="Acao" value="Tipo de Ações" /></td>
                </tr>
            </table>
        </form>

    </div>

    <div class="col-md-4">
        <form action="/Usuario/ProcessarSaidaPost" method="post">
            <input type="submit" name="inout" value="Sair" />
        </form>
    </div>
</div>