﻿
@{
    ViewBag.Title = "Index";
}

@model List<Ftec.com.Sistema.Models.Doacao>

<h2>Doações</h2>

<p name="novaDoacaoVoluntario"><a href="/Doacao/Novo">Faça sua doação</a></p>

<table>
    @foreach (var doacao in Model)             
    {
        <tr>
            <td>@doacao.Descricao</td>
            <td>@doacao.Tipo</td>
            <td>@doacao.Valor</td>
            <td><a href="Doacao\Resgatar\@doacao.Id">Mais detalhes</a></td>
        </tr>
    }
</table>


