﻿
@{
    ViewBag.Title = "Novo";
}

<h2>Nova Doação</h2>

<form action="/Doacao/ProcessarGravacaoPost" method="post">
    <table>
        <tr>
            <td>Qual é o tipo da sua doação</td>
            <!-- O campo abaixo vai ser um combo-box com os tipos de doação -->
            <td><input type="text" name="Doacao.TipoDoacao" /></td>
        </tr>
        <tr>
            <td>O que deseja doar?</td>
            <td><input type="text" name="Doacao.Descricao" /></td>
        </tr>
        <tr>
            <td style="visibility:hidden">Valor da doação</td>
            <td><input type="number" name="Doacao.Valor" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Salvar" /></td>
        </tr>
    </table>

</form>

