﻿
@{
    ViewBag.Title = "Resgatar";
}

<h2>Resgatar</h2>

<form action="/Doacao/ProcessarResgateDoacaoPost" method="post">
    <input type="hidden" name="Doacao.Id" value="@ViewBag.Doacao.Id" />

    <table>
        <tr>
            <td>Item para Doação</td>
            <td><input type="text" name="Doacao.Descricao" value="@ViewBag.Doacao.Descricao" /></td>
        </tr>        
        <tr>
            <td>Valor</td>
            <td><input type="number" name="Doacao.Valor" value="@ViewBag.Doacao.Valor" /></td>
        </tr>
        <tr>
            <td><input type="submit" name="resgatar" value="Resgatar" /></td>
        </tr>
    </table>
</form>
