﻿@{
    ViewBag.Title = "Home";
}

<form class="form-signin" action="/" method="post">
    <img src="#" alt="Integrador" />
    <h1 class="h3 mb-3 font-weight-normal">Identifique-se</h1>
    <label for="inputEmail" class="sr-only">E-mail</label>
    <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Informe seu E-mail" required autofocus/>
    <label for="inputPassword" class="sr-only">Senha</label>
    <input type="password" id="inputPassword" name="senha" class="form-control" placeholder="Senha" required/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
</form>


