﻿
@{
    ViewBag.Title = "Editar";
}

<h2>Alterar</h2>
<form method="post" action="/Usuario/ProcessarAlteracaoPost">
    <input type="hidden" name="Usuario.Id" value="@ViewBag.Usuario.Id" />

    <table>
        <tr>
            <td>Nome:</td>
            <td><input type="text" name="Usuario.Nome" value="@ViewBag.Usuario.Nome" /></td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td><input type="text" name="Usuario.Email" value="@ViewBag.Usuario.Email" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Salvar" /></td>
        </tr>
    </table>
</form>

