﻿
@{
    ViewBag.Title = "Index";
}

@model List<Ftec.com.Administracao.Models.Voluntario>

<h2>Voluntários Pendentes</h2>

<table>
    @foreach (var voluntario in Model)
    {
        if(@voluntario.Ativo == false)
        {
            <tr>
                <td>@voluntario.Nome</td>
                <td>@voluntario.Email</td>
                <td><a href="Voluntario\Visualizar\@voluntario.Id">Visualizar</a></td>
            </tr>
        }
    }

</table>


