﻿
@{
    ViewBag.Title = "Visualizar";
}

<h2>Visualizar</h2>

<form method="post" action="/Voluntario/Ativar/@ViewBag.Voluntario.Id">
    <input type="hidden" name="Voluntario.Id" value="@ViewBag.Voluntario.Id" />

    <table>
        <tr>
            <td>Nome:</td>
            <td><input type="text" name="Voluntario.Nome" value="@ViewBag.Voluntario.Nome" /></td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td><input type="text" name="Voluntario.Email" value="@ViewBag.Voluntario.Email" /></td>
            "@ViewBag.Voluntario."
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Ativar" /></td>
        </tr>
    </table>
</form>

