nav ul li a{
	color: #FFF !important; 
}

nav ul li a:hover{
	color: #C1CDCD !important; 
}

header {
	margin-bottom: 56px !important;
}

.servicos{
	background-color: #f9faff;
	border-radius: 0rem;
	margin-bottom: 0rem;
}

.depoimento{
	background-color: #0b3774;
	border-radius: 0rem;
	margin-bottom: 0rem;
}

.tamanho-icone {
	background: #fff;
	color: #444;
	font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.icon-row {
	padding: 5px 0 0px;	

}

.ion {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.preview-icon { vertical-align: bottom; }

.preview-scale {
    color: #888;
    font-size: 12px;
    margin-top: 5px;
}

.step {
    display: inline-block;
    line-height: 1;
    position: relative;
    width: 100%;
}

.step i {
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}

.step:hover i { opacity: .3; }

.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-32 { font-size: 32px; }
.size-48 { font-size: 48px; }
.size-64 { font-size: 64px; }
.size-96 { font-size: 96px; }