﻿@{
    ViewBag.Title = "Home Page";
}

@model List<Ftec.com.Administracao.Models.Usuario>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <form action="/Home/ChamarUsuarioPost" method="post">
            <table>
                <tr>
                    <td><input type="submit" name="Usuario" value="Usuarios" /></td>
                </tr>
            </table>
        </form>

    </div>

    <div class="col-md-4">
        <form action="/Home/ChamarVoluntarioPost" method="post">
            <table>
                <tr>
                    <td><input type="submit" name="Voluntarios" value="Voluntários" /></td>
                </tr>
            </table>
        </form>
    </div>

    <div class="col-md-4">
        <form action="/Home/ChamarInstituicaoPost" method="post">
            <table>
                <tr>
                    <td><input type="submit" name="Instituicao" value="Instituições" /></td>
                </tr>
            </table>
        </form>
    </div>

    <div class="col-md-4">
        <form action="/Home/ChamarAcoesPost" method="post">
            <table>
                <tr>
                    <td><input type="submit" name="Acao" value="Tipo de Ações" /></td>
                </tr>
            </table>
        </form>

    </div>

    <div class="col-md-4">
        <form action="/Usuario/ProcessarSaidaPost" method="post">
            <input type="submit" name="inout" value="Sair" />
        </form>
    </div>
</div>