﻿
@{
    ViewBag.Title = "Novo";
}

<h2>Novo tipo de Doação</h2>

<form action="/TipoDoacao/ProcessarGravacaoPost" method="post">

    <table>
        <tr>
            <td>Codigo:</td>
            <td><input type="number" name="tpDoacao.Codigo" value="" /></td>
        </tr>
        <tr>
            <td>Descrição:</td>
            <td><input type="text" name="tpDoacao.Descricao" value="" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Salvar" /></td>
        </tr>
    </table>

</form>
