﻿
@{
    ViewBag.Title = "Novo";
}

<h2>Novo</h2>

<form action="/Voluntario/ProcessarGravacaoPost" method="post">
    <table>
        <tr>
            <td>Nome:</td>
            <td><input type="text" name="Voluntario.Nome" /></td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td><input type="email" name="Voluntario.Email" /></td>
        </tr>
        <tr>
            <td>Cpf:</td>
            <td><input type="text" name="Voluntario.Cpf" /></td>
        </tr>
        <tr>
            <td>Telefone:</td>
            <td><input type="text" name="Voluntario.Telefone" /></td>
        </tr>
        <tr>
            <td>Senha:</td>
            <td><input type="password" name="Voluntario.Senha" /></td>
        </tr>
        <tr>
            <td>Rua:</td>
            <td><input type="text" name="Voluntario.Endereco.Rua" /></td>
        </tr>
        <tr>
            <td>Numero:</td>
            <td><input type="text" name="Voluntario.Endereco.Numero" /></td>
        </tr>
        <tr>
            <td>Bairro:</td>
            <td><input type="text" name="Voluntario.Endereco.Bairro" /></td>
        </tr>
        <tr>
            <td>Cep:</td>
            <td><input type="text" name="Voluntario.Endereco.Cep" /></td>
        </tr>
        <tr>
            <td>Cidade:</td>
            <td><input type="text" name="Voluntario.Endereco.Cidade" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Salvar" /></td>
        </tr>
    </table>
</form>

