﻿
@{
    ViewBag.Title = "Senha";
}

<h2>Alterar Senha</h2>
<form action="/ProcessarAlteraSenhaPost" method="post">
    <input type="hidden" name="Voluntario.Id" value="@ViewBag.Voluntario.Id" />

    <table>
        <tr>
            <td>Nova Senha</td>
            <td><input type="password" name="Voluntario.Senha" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit"  value="Salvar" /></td>
        </tr>
    </table>
</form>

