﻿
@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

<form action="/Voluntario/ProcessarAlteracaoPost" method="post">
    <input type="hidden" name="Voluntario.Id" value="@ViewBag.Voluntario.Id" />

    <table>
        <tr>
            <td>Nome:</td>
            <td><input type="text" name="Voluntario.Nome" value="@ViewBag.Voluntario.Nome" /></td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td><input type="email" name="Voluntario.Email" value="@ViewBag.Voluntario.Email" /></td>
        </tr>
        <tr>
            <td>Telefone:</td>
            <td><input type="text" name="Voluntario.Telefone" value="@ViewBag.Voluntario.Telefone" /></td>
        </tr>
        <tr>
            <td>Rua:</td>
            <td><input type="text" name="Voluntario.Endereco.Rua" value="@ViewBag.Voluntario.Endereco.Rua"/></td>
        </tr>
        <tr>
            <td>Numero:</td>
            <td><input type="text" name="Voluntario.Endereco.Numero" value="@ViewBag.Voluntario.Endereco.Numero"/></td>
        </tr>
        <tr>
            <td>Bairro:</td>
            <td><input type="text" name="Voluntario.Endereco.Bairro" value="@ViewBag.Voluntario.Endereco.Bairro" /></td>
        </tr>
        <tr>
            <td>Cep:</td>
            <td><input type="text" name="Voluntario.Endereco.Cep" value="@ViewBag.Voluntario.Endereco.Cep"/></td>
        </tr>
        <tr>
            <td>Cidade:</td>
            <td><input type="text" name="Voluntario.Endereco.Cidade" value="@ViewBag.Voluntario.Endereco.Cidade"/></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Salvar" /></td>
        </tr>
    </table>
</form>