﻿
@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>
<form method="post" action="/Acao/ProcessarAlteracaoPost">
    <input type="hidden" name="Acao.Id" value="@ViewBag.Acao.Id" />

    <table>
        <tr>
            <td>Descrição:</td>
            <td><input type="text" name="Acao.Descricao" value="@ViewBag.Acao.Descricao" /></td>
        </tr>
        <tr>
            <td col="2"><input type="submit" value="Salvar" /></td>
        </tr>
    </table>
</form>
