﻿
@{
    ViewBag.Title = "Index";
}

@model List<Ftec.com.Administracao.Models.Acao>

<h2>Index</h2>
<p><a href="\Acao\Novo">Adicionar</a></p>

<table>
    @foreach(var acao in Model)
    {
        <tr>
            <td>@acao.Id</td>
            <td>@acao.Descricao</td>
            <td>@acao.Ativo</td>
            <td><a href="Acao\Editar\@acao.Id">Alterar</a></td>
            <td><a href="Acao\Excluir\@acao.Id">Excluir</a></td>
        </tr>
    }
    
</table>



