﻿
@{
    ViewBag.Title = "Novo";
}

<h2>Novo</h2>

<form method="post" action="/Acao/ProcessarGravacaoPost">
    <table>
        <tr>
            <td>Descrição:</td>
            <td><input type="text" name="Acao.Descricao" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Salvar"/></td>
        </tr>
    </table>
</form>