﻿
@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

<form action="/Acao/ProcessarAlteracaoPost" method="post">
    <input type="hidden" name="Voluntario.Id" value="@ViewBag.Voluntario.Id" />
    <table>
        <tr>
            <td>Nome:</td>
            <td><input type="text" name="Voluntario.Nome" value="@ViewBag.Voluntario.Nome" /></td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td><input type="email" name="Voluntario.Email" value="@ViewBag.Voluntario.Email" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit"  value="Salvar" /></td>
        </tr>
    </table>

</form>

