﻿
@{
    ViewBag.Title = "Novo";
}

<h2>Novo</h2>

<form action="/Acao/ProcessarGravacaoPost" method="post">
    <table>
        <tr>
            <td>Descricao:</td>
            <td><input type="text" name="Acao.Descricao" value="" /></td>
        </tr>
        <tr>
            <td>Tipo da Ação:</td>
            <td><input type="text" name="Acao.TipoAcao" value="" /></td>
        </tr>
        <tr>
            <td>Data de Realização:</td>
            <td><input type="datetime" name="Acao.DataHora" value="" /></td>
        </tr>
        <tr>
            <td>Número Máx de Voluntarios:</td>
            <td><input type="number" name="Acao.Participantes" value="" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit"  value="Salvar" /></td>
        </tr>
    </table>
</form>