﻿
@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

<form action="/Instituicao/ProcessarAlteracaoPost" method="post">
    <input type="text" name="Instituicao.Id" value="@ViewBag.Instituicao.Id" />
    <table>
        <tr>
            <td>Cnpj:</td>
            <td><input type="text" name="Instituicao.Cnpj" value="@ViewBag.Instituicao.Cnpj" /></td>
        </tr>
        <tr>
            <td>Razao:</td>
            <td><input type="text" name="Instituicao.Razao" value="@ViewBag.Instituicao.Razao" /></td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td><input type="text" name="Instituicao.Email" value="@ViewBag.Instituicao.Email" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Salvar" /></td>
        </tr>
    </table>
</form>