﻿
@{
    ViewBag.Title = "Novo";
}

<h2>Novo</h2>

<form action="/Instituicao/ProcessarGravacaoPost" method="post">
    <table>
        <tr>
            <td>Cnpj:</td>
            <td><input type="text" name="Instituicao.Cnpj" value="" /></td>
        </tr>
        <tr>
            <td>Razao:</td>
            <td><input type="text" name="Instituicao.Razao" value="" /></td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td><input type="text" name="Instituicao.Email" value="" /></td>
        </tr>
        <tr>
            <td>Senha:</td>
            <td><input type="password" name="Instituicao.Senha" value="" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Salvar" /></td>
        </tr>
    </table>


</form>