﻿
@{
    ViewBag.Title = "Senha";
}

<h2>Senha</h2>

<form action="/ProcessarAlteraSenhaPost" method="post">
    <input type="hidden" name="Instituicao.Id" value="@ViewBag.Instituicao.Id" />

    <table>
        <tr>
            <td>Nova Senha</td>
            <td><input type="password" name="Instituicao.Senha" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Salvar" /></td>
        </tr>
    </table>
</form>