﻿
@{
    ViewBag.Title = "Index";
}

@model List<Ftec.com.Sistema.Models.TipoAcao>

<h2>Tipo de Acoes</h2>

<p><a href="/TipoAcao/Novo">Adicionar</a></p>

<table>
    @foreach (var tipo in Model)
    {
        <tr>
            <td>@tipo.Codigo</td>
            <td>@tipo.Descricao</td>
        </tr>
    }

</table>

