﻿
@{
    ViewBag.Title = "Novo";
}

<h2>Novo Tipo de Ação</h2>

<form action="/TipoAcao/ProcessarGravacaoPost" method="post">
    <table>
        <tr>
            <td>Código:</td>
            <td><input type="number" name="tpAcao.Codigo"  /></td>
        </tr>
        <tr>
            <td>Descricao:</td>
            <td><input type="text" name="tpAcao.Descricao"  /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Salvar" /></td>
        </tr>
    </table>

</form>