﻿
@{
    ViewBag.Title = "Index";
// Layout = "~/Views/Shared/_Index.cshtml";
}

@model List<Ftec.com.Administracao.Models.Usuario>

<h2>Index</h2>
<p><a href="\Usuario\Novo">Adicionar Usuario</a></p>

<table>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Nome</td>
            <td>@user.Email</td>
            <td><a href="Usuario\Editar\@user.Id">Alterar</a></td>
            <td><a href="Usuario\Excluir\@user.Id">Excluir</a></td>
        </tr>
    }

</table>




