﻿
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form method="post" action="/Usuario/ProcessarLoginPost">
    <table>
        <tr>
            <td>E-mail:</td>
            <td><input type="text" name="Usuario.Email" /></td>
        </tr>
        <tr>
            <td>Senha:</td>
            <td><input type="password" name="Usuario.Senha"  /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Login" /></td>
        </tr>
    </table>
</form>
