﻿
@{
    ViewBag.Title = "Novo";
}

<h2>Novo Usuario</h2>

<form method="post" action="/Usuario/ProcessarGravacaoPost">
    <table>
        <tr>
            <td>Nome:</td>
            <td><input type="text" name="Usuario.Nome" /></td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td><input type="text" name="Usuario.Email" /></td>
        </tr>
        <tr>
            <td>Senha:</td>
            <td><input type="password" name="Usuario.Senha" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Salvar" /></td>
        </tr>
    </table>
</form>

